.frame {
	margin-left: 5vw;
	margin-right:5vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:90vw;
	height:90vh;
	border: 2px solid #000;
}

.outline {
	width: 90%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: start;
}

.frameTitle {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: 15vh;
	width: 80vw;
	padding-left: 5vw;
	padding-right: 5vw;
	background-color: darkred;
}

.frameSubtitle {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: 7vh;
	width: 80vw;
	padding-left: 5vw;
	padding-right: 5vw;
	background-color: red;
}
.frameSubtitle h3 {
	margin-left: 3vw;
}

.frameContent {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: 75vh;
	width: 84vw;
	padding-left: 3vw;
	padding-right: 3vw;
}

.frameContentSub {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: 68vh;
	width: 84vw;
	padding-left: 3vw;
	padding-right: 3vw;
}



h1 {
	font-size: 3.5vw;
}
h2 {
	font-size: 2vw;
}
h3 {
	font-size: 1.25vw;
}
p {
	font-size: 1vw;
}
