.overlay-menu {
	transition: all ease-in-out 0.4s;
  position: fixed;
  top: 20vh;
  left: 1vw;
  width: 3vw;
  height: 60vh;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  z-index: 999999;  /* HIGH to be above all other elements */
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
	border-radius: 20pt;
	box-shadow: 5pt 4pt 5pt #00000040;
}
.overlay-menu:hover {
  top: 17.5vh;
  left: 0.9vw;
	border-radius: 25pt;
	box-shadow: 5pt 12pt 10pt #00000070;
  width: 4vw;
  height: 65vh;
}
.overlay-menu button {
	transition: all ease-in-out 0.2s;
	background-color: #FFFFFF50;
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding: min(0.5vh, 0.5vw);
	border-radius: 5pt;
	width: 2vw;
	aspect-ratio: 1/1;
	box-shadow: 3pt 1.5pt 3pt #00000030;
	border: 0px solid #000000;
}
.overlay-menu button:hover {
	border-radius: 8pt;
	width: 2.25vw;
	box-shadow: 4pt 2pt 5pt #00000060;
}
.overlay-menu input {
	transition: all ease-in-out 0.2s;
	background-color: #FFFFFF50;
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding: min(0.5vh, 0.5vw);
	border-radius: 5pt;
	width: 1.5vw;
	aspect-ratio: 1/1;
	box-shadow: 3pt 1.5pt 3pt #00000030;
	border: 0px solid #000000;
}
.overlay-menu input:hover {
	border-radius: 8pt;
	width: 2.25vw;
	box-shadow: 4pt 2pt 5pt #00000060;
}
#fullscreen {
	margin-top: 10vh;
}


h1 {
	font-size: calc(4*var(--unit_x));
	color: var(--color1);
}
h2 {
	font-size: calc(2*var(--unit_x));
	color: var(--color1);
	color: var(--color2)
}
h3 {
	font-size: calc(1.25*var(--unit_x));
	color: var(--color3)
}
p {
	font-size: calc(1*var(--unit_x));
	color: var(--color4);
	z-index: 999;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.frame {
	background-color: var(--bgcolor);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: calc(100*var(--unit_x));
	height: calc(100*var(--unit_y));
	border: 2pt solid #000;
	margin-top: calc( (100vh - min(90vh, calc( ( var(--ar_height) / var(--ar_width) ) * 90vw )) ) / 2);
	margin-bottom: calc( (100vh - min(90vh, calc( ( var(--ar_height) / var(--ar_width) ) * 90vw )) ) / 2);
	border-radius: 10pt;
	overflow: hidden;
}
.outline {
	width: calc(90 * var(--unit_x));
	height: calc(90 * var(--unit_y));
	display: flex;
	align-items: center;
	justify-content: start;
}
.frameTitle {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	width: calc(100 * var(--unit_x));
	height: calc(20 * var(--unit_y));
	background-color: var(--color1);
	overflow: hidden;
}
.frameTitle h2 {
	margin-left: calc(2*var(--unit_x));
	color: var(--bgcolor);
}
.frameSubtitle {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: calc(7 * var(--unit_y));
	width: calc(100 * var(--unit_x));
	background-color: var(--color2);
	overflow: hidden;
}
.frameSubtitle h3 {
	margin-left: calc(10*var(--unit_x));
	color: var(--bgcolor);
}
.frameContent {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: calc(74 * var(--unit_y));
	padding-top: 3%;
	padding-bottom: 3%;
	width: calc(90 * var(--unit_x));
	padding-left: 5%;
	padding-right: 5%;
	overflow: hidden;
}
.frameContentSub {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: calc(68 * var(--unit_y));
	padding-top: 3%;
	padding-bottom: 3%;
	width: calc(90 * var(--unit_x));
	padding-left: 5%;
	padding-right: 5%;
	overflow: hidden;
}
.item {
	margin-left: calc( 1 * var(--unit_x) );
}
.item p {
	font-size: calc(1.2*var(--unit_x)) !important;
}
.subitem {
	margin-left: calc( 4 * var(--unit_x) );
}
.subitem p {
	font-size: calc(1.1*var(--unit_x)) !important;
}
.subsubitem {
	margin-left: calc(7 * var(--unit_x) );
}
.subsubitem p {
	font-size: calc(1*var(--unit_x)) !important;
}



.mediaoverlay {
	position: absolute;
	width: calc(100*var(--unit_x));
	height: calc(80*var(--unit_y));
	margin-top: calc( 50vh - 60*var(--unit_y) );
	margin-bottom: calc( 50vh - 60*var(--unit_y) );
	left: calc( 50vw - 50*var(--unit_x) );
	right: calc( 50vw - 50*var(--unit_x) );
	z-index: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.mediaoverlaySub {
	position: absolute;
	width: calc(100*var(--unit_x));
	height: calc(74*var(--unit_y));
	margin-top: calc( 50vh - 58*var(--unit_y) );
	margin-bottom: calc( 50vh - 58*var(--unit_y) );
	left: calc( 50vw - 50*var(--unit_x) );
	right: calc( 50vw - 50*var(--unit_x) );
	z-index: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.mediaoverlay img, video {
	margin: calc(2*var(--unit_y));
  z-index: 999999 !important;
}
.mediaoverlaySub img, video {
	margin: calc(2*var(--unit_y));
  z-index: 999999 !important;
}

.wrapper p {
	text-align: center !important;
	width: 100%;
}
div.border div {
	border: solid calc(0.2*var(--unit_x)) var(--color1);
	padding: calc(1*var(--unit_x));
}
.position_right {
	align-items: end;
	justify-content: center;
}
.position_left {
	align-items: start;
	justify-content: center;
}
.position_top {
	align-items: center;
	justify-content: start;
}
.position_bottom {
	align-items: center;
	justify-content: end;
}
.position_right-top {
	align-items: end;
	justify-content: start;
}
.position_top-right {
	align-items: end;
	justify-content: start;
}
.position_right-bottom {
	align-items: end;
	justify-content: end;
}
.position_bottom-right {
	align-items: end;
	justify-content: end;
}
.position_left-top {
	align-items: start;
	justify-content: start;
}
.position_top-left {
	align-items: start;
	justify-content: start;
}
.position_left-bottom {
	align-items: start;
	justify-content: end;
}
.position_bottom-left { 
	align-items: start;
	justify-content: end;
}
.position_center {
	align-items: center;
	justify-content: center;
}


.size_1 {
	width: min(90%, calc(60*var(--unit_x))) !important;
}
.size_2 {
	width: min(90%, calc(30*var(--unit_x))) !important;
}
.size_3 {
	width: min(90%, calc(15*var(--unit_x))) !important;
}
.size_4 {
	width: min(90%, calc(7.5*var(--unit_x))) !important;
}


.align_left {
	justify-content: center;
	align-items: start;
	text-align: start;
}
.align_left-top {
	justify-content: start;
	align-items: start;
	text-align: start;
}
.align_top-left {
	justify-content: start;
	align-items: start;
	text-align: start;
}
.align_left-bottom {
	justify-content: end;
	align-items: start;
	text-align: start;
}
.align_bottom-left {
	justify-content: end;
	align-items: start;
	text-align: start;
}
.align_right {
	justify-content: center;
	align-items: end;
	text-align: end;
}
.align_right-top {
	justify-content: start;
	align-items: end;
	text-align: end;
}
.align_top-right {
	justify-content: start;
	align-items: end;
	text-align: end;
}
.align_right-bottom {
	justify-content: end;
	align-items: end;
	text-align: end;
}
.align_bottom-right {
	justify-content: end;
	align-items: end;
	text-align: end;
}
.align_top {
	justify-content: start;
	align-items: center;
	text-align: center;
}
.align_bottom {
	justify-content: end;
	align-items: center;
	text-align: center;
}
.align_center {
	justify-content: center !important;
	align-items: center !important;
	text-align: center;
}




span.katex-display {
	width: calc(90 * var(--unit_x)) !important;
	font-size: calc(1.5*var(--unit_x));
	margin: 0px !important;
}
